body {
  background-color: #fceeed;
  display: flex;
}
.navbar-custom {
  background-color: #fceeed;
}
.nav-item {
  margin-left: 16px;
  margin-right: 16px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  border-radius: 7px;
  color: #441b48;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
  font-weight: bold;
}
.navbar-custom .nav-item:hover .nav-link {
  background-color: #f8e2e0;
}
.group-text {
  color: #441b48;
  background-color: #f6c4c1;
  margin: 24px;
  padding: 24px;
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
  }
}
